.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 5px;
}

.item {
  background-color: rgba(0, 0, 0, 0.1)
}

.subgrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px
}

.subgrid-only-row {
  grid-template-columns: 1fr;
}

.subgrid-only-column {
  grid-template-rows: 1fr;
}

.subitem {
  background-color: rgba(0, 0, 0, 0.3)
}
